html {
	width: 100%;
	height: 100%;
}
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	/*background-color: #4C566A;*/
	background-color: white;
  /*color: #D8DEE9;*/
	color: black;
	font-family: helvetica, Arial, Times New Roman;
	font-size: 30px;
}
.center-all {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.box-own{
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.about-me {
	min-height: 100%;
	padding: 5px;
	padding-left: 20px;
	overflow-x: auto;
}
.about-box {
	/*background-color: #2E3440;*/
	border: 1px solid black;
	color: black;
	border-radius: 25px;
	box-shadow: 1px 1px 1px 1px #404040;
	font-size: 20px;
	padding: 5px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.main-project {
	min-height: 100%;
	padding-left: 20px;
}
.all-projects{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 10px 20px;
	margin: 10px;
}
.gym-app {
	border: 1px solid black;
	border-radius: 5px;
}
.single-project {
	border-radius: 25px;
	/*background-color: #2E3440;*/
	border: 1px solid black;
	color: black;
	box-shadow: 1px 1px 1px 1px #404040;
	height: 100%;
	padding-left: 5px;
}
.all-contacts {
	min-height: 100%;
	/*background-color: #3B4252;*/
	background-color: black;
	padding: 5px;
	padding-left: 20px;
}
.box-link {
	border-radius: 5px;
	border:  1px transparent #D8DEE9;
	box-shadow: 1px 1px 1px 1px #404040;
}
.linkify {
	border-radius: 10px;
	border: 1px solid black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	color: black;
	margin: 10px;
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.profile-setup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

