html, body{
	margin: 0;
	padding: 0;
	background-color: #212121;
	color: white;
	font-family: helvetica, Arial, Times New Roman;
	font-size: 30px;
}
.center-all {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
}
.box-own {
	display: flex;
}
@media only screen and (max-width: 600px) {
  .box-own {
  	display: none;
  }
}
.about-me {
}
.about-box {
	font-size: 30px;
	color: white;
	padding-bottom: 20px;
	height: 100%;
}
.main-project {
}
.all-projects{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 10px 20px;
}
.gym-app {
	border-radius: 5px;
}
.single-project {
	border-radius: 25px;
	color: white;
	height: 100%;
}
.all-contacts {
	min-height: 100%;
	background-color: white;
}
.box-link {
	border-radius: 5px;
	border:  1px transparent #D8DEE9;
}
.linkify {
	border-radius: 10px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	color: white;
}
.profile-setup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.profile-picture {
  width: 250px;
  height: 200px;
  border-radius: 15px;
}
@media only screen and (max-width: 535px) {
  .profile-picture {
		display:none;
  }
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

